@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

body {
  font-family: "Inter", sans-serif;
  // font-family: "Roboto", sans-serif;
  // font-family: "Ubuntu", sans-serif;
}

.welcome {
  width: 100%;
  height: 95vh;
  background-color: black;
  //border-bottom-left-radius: 10px;
  //border-bottom-right-radius: 10px;
  background-image: url("../public/medic.jpg");
  //background-image: url(https://res.cloudinary.com/dawsyfhbt/image/upload/v1650660157/nurse-measuring-patient-blood-pressure_1_xkezpg.jpg);
  background-size: cover;

  &__navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(240, 248, 255, 0.637);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 0;
    padding-left: 150px;
    cursor: pointer;

    a {
      color: #0085ad;
      font-size: 30px;
      text-decoration: none;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    span {
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }

  &__buttons {
    display: flex;
    position: absolute;
    right: 150px;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 5px 15px;
        font-size: 16px;

        a {
          text-decoration: none;
          color: #333132;
          padding: 10px;
        }
      }
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;

    &__text {
      padding: 24px;
      background-color: rgba(255, 255, 255, 0.808);
      width: 350px;
      height: 200px;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      padding-bottom: 40px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: justify;

      button {
        padding: 5px;
        margin-top: 20px;
      }
      a {
        text-decoration: none;
        color: #0085ad;
      }
    }

    &__covid {
      padding: 25px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 350px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.808);
      padding-right: 50px;
      padding-bottom: 40px;
    }
    &__country {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__country_data {
      color: #0085ad;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }

    &__cases {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      font-size: 15px;
    }

    &__result {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      font-size: 15px;
      :first-child {
        color: red;
      }
      :last-child {
        color: green;
      }
    }

    &__status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 18px;
      font-size: 15px;
    }

    &__result_status {
      display: flex;
      justify-content: space-between;

      align-items: center;
      padding-top: 10px;
      font-size: 15px;
    }

    &__test {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 18px;
      font-size: 15px;
    }

    &__test_status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      font-size: 15px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;

    svg {
      vertical-align: middle;
      margin-right: 5px;

      path {
        color: #0085ad;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;

    &_ico {
      padding-right: 8px;
    }
    color: #0085ad;
    // span {
    //   :hover {
    //     color: #0085ad;
    //   }
    // }
    // svg {
    //   cursor: pointer;
    //   color: skyblue;
    //   transition: 300ms color;
    // }
  }

  &__email {
    padding-right: 30px;
  }
  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-bottom: 3px;
  }
}

.news {
  &__con {
    overflow-x: hidden;
  }
  &__image_con {
    width: 100%;
    height: 250px;
    background-color: #0085ad;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__name {
    font-size: 18px;
    font-weight: 300;
  }
  &__name_response {
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
  }

  &__container {
    display: flex;
    overflow-wrap: break-word;
  }

  &__image {
    float: right;
    height: 100%;
    width: 720px;
    background-image: url(https://img.medscapestatic.com/pi/global/mktg/anon-user-graphic.png);
    background-position: center;
    background-size: cover;
  }

  &__image_title {
    display: inline-block;
    color: #333132;
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
  }
  &__img {
    img {
      border-radius: 4px;
      width: 300px;
    }
  }
  &__content {
    display: flex;
    justify-content: center;

    margin-top: 80px;

    span {
      padding-bottom: 15px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 10px 5px 10px;
    span {
      padding-left: 10px;
      padding-top: 10px;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #333132;
    text-transform: uppercase;
  }

  &__filter_type {
    padding: 15px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    span {
      font-size: 18px;
      margin-left: 20px;
      color: #0085ad;
      padding: 10px;
      cursor: pointer;
      transition: 300ms color ease;
      &:hover {
        color: #333132;
      }
    }
  }
  &__search_input {
    padding: 0 25px;
    position: relative;
    input {
      width: 400px;
      height: 30px;
      outline: none;
      border-radius: 4px;
      border: 1px solid #0085ad;
      padding: 0 10px;
    }
    span {
      position: absolute;
      right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__button {
    background-color: #0085adbb;
    border-radius: 4px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: 300ms background-color ease;

    &:hover {
      background-color: #0085ad;
    }
  }
}
.active {
  color: #0085ad;
  border-bottom: 2px solid #0085ad;
}

.review {
  &__comment {
    background: var(--bgColor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__profile {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }

  &__border {
    margin: 20px;
    border: 1px solid #9c9c9c;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    padding-left: 50px;
  }

  &__profile_con {
    display: flex;

    align-items: center;
  }

  &__profie_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__fullName {
    position: absolute;
    left: 15px;
  }
  &__date {
    padding-top: 45px;
    padding-left: 15px;
    font-size: 14px;
    color: #616161;
    font-weight: 300;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  &__rate {
    padding-top: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
  }

  &__addComment {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin-right: 50px;
      padding: 15px 15px;
      border-radius: 8px;
      border: none;
      background: #0085add3;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      svg {
        padding-left: 10px;
      }
    }
  }
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    padding-bottom: 4px;
    color: #fff;
  }

  &__text {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
  }

  &__areatext {
    height: 70px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    resize: none;
    padding: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    width: 400px;
  }
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #0085ad;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
  }
}

.Modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffab;
  z-index: 2;
}

.content_modal {
  position: relative;
  width: 700px;
  height: 500px;
  background-color: #63a5b9;
  border-radius: 12px;
}

.close_modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 14px;
  top: 14px;
  background: #f6f7f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.close_modal {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.dashboard {
  display: flex;

  .exit {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0085ad;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    svg {
      width: 18px;
      display: block;
    }
    a {
      font-size: 12px;
      text-decoration: none;
      padding-left: 5px;
      color: #000000;
      font-weight: 500;
    }
  }

  &__exit {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0085ad;
    padding-top: 10px;
    padding-bottom: 10px;
    svg {
      display: block;
      margin-right: 10px;
      width: 20px;
      color: #fff;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
    }
  }

  &__clinic {
    color: #616161;
    font-size: 12px;
  }

  &__logo_close {
    padding-top: 34.5px;
  }
  .close_sidebar {
    width: 80px;
    height: 100vh;
    transition: 400ms all;
    position: relative;
  }

  &__left {
    height: 100vh;
    position: relative;
    width: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 400ms all;
  }
  &__logo {
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #0085ad;
    padding: 10px;
    position: relative;

    a {
      color: #0085ad;
      font-size: 30px;
      text-decoration: none;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      cursor: pointer;
    }
  }

  &__icon {
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
    svg {
      width: 20px;
      position: absolute;
      left: 10px;
      top: 0;
      cursor: pointer;
    }
  }

  &__textindent {
    ul {
      li {
        a {
          text-indent: -9999px;
        }
        span {
          svg {
            position: absolute;
            left: -20px;
          }
        }
      }
    }
  }
  &__button {
    ul {
      list-style: none;
      margin-top: 80px;
      padding: 0;
      li {
        margin-top: 20px;
        padding: 0;
        text-align: center;
        position: relative;

        a {
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          display: inline-block;
          line-height: 44px;
          width: 100%;
          color: #616161;
          position: relative;
        }
        span {
          position: absolute;
          left: 50px;
          top: 10px;
          z-index: 1;
        }
      }
    }
  }

  &__right {
    width: 100%;
    overflow-x: hidden;
    background-color: #f6f7fa;
  }

  &__search_input {
    width: 100%;
    height: 54.5px;
    border-bottom: 1px solid #0085ad;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
    margin-left: 1px;

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 80px;

      img {
        width: 30px;
        border-radius: 50%;
        display: block;
      }

      :last-child {
        margin-left: 10px;
        font-size: 13px;
      }
    }

    input {
      width: 60%;
      height: 40px;
      padding-left: 50px;
      border: none;
      outline: none;
      font-size: 16px;
      letter-spacing: 1.2px;
    }
    ::placeholder {
      font-size: 16px;
      font-weight: 300;
    }
    svg {
      position: absolute;
      left: 40px;
      top: 14px;
      color: #616161a4;
    }
  }
  &__content {
  }
}

.appointments {
  padding: 24px;
  margin-top: 70px;

  &__card {
    border-radius: 5px;

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .header {
      color: #0085ad;
      display: flex;
      padding: 24px;
      border-bottom: 2px solid #f6f7fa;

      img {
        width: 65px;
        border-radius: 50%;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      margin-left: 25px;

      .name {
        color: #333132;
        font-size: 14px;
        font-weight: 600;

        font-weight: 400;
      }
      .status {
        color: #616161;
        font-size: 12px;
        font-weight: 300;

        margin-top: 3px;
      }

      .accept {
        margin-top: 5px;
        display: flex;

        .ok {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid #a1a1a1;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          cursor: pointer;

          :hover {
            background: #0099e5;
          }
          svg {
            width: 15px;
            padding: 3px;

            path {
              fill: #34bf49;
            }
          }
        }

        .no {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid #a1a1a1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          overflow: hidden;
          cursor: pointer;

          :hover {
            background: #9e9e9e;
          }

          svg {
            width: 15px;
            padding: 3px;

            path {
              fill: #ff4c4c;
            }
          }
        }
      }
    }
    .body {
      display: flex;
      align-items: center;
      padding: 24px;

      :first-child {
        font-size: 30px;
        font-weight: 500;
      }
      :last-child {
        font-weight: 400;
        color: #616161;
        padding-left: 30px;
      }
    }
  }
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    justify-content: center;
    background-color: #0085ad;
    color: #fff;
    padding: 0 200px 0 200px;

    label {
      padding-top: 30px;
      padding-bottom: 8px;
      font-size: 18px;
      font-weight: 500;
    }
    input {
      height: 35px;
      border-radius: 4px;
      border: none;
      padding-left: 10px;
    }
    a {
      color: #fff;
      border: 1px solid #fff;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      border-radius: 4px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
.patient {
  padding: 100px 50px 0 50px;

  &__card {
    border-radius: 8px;
    padding: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    .header {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .header_con {
        display: flex;
        flex-direction: column;

        :first-child {
          font-size: 16px;
          font-weight: 600;
          padding-top: 8px;
        }
        :last-child {
          font-size: 14px;
          font-weight: 600;
          color: #616161;
          padding-top: 8px;
        }
      }
    }
    .p_button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cc2c2c;
      margin-top: 25px;
      border-radius: 8px;
      button {
        color: #fff;
        text-transform: capitalize;
        letter-spacing: 1.5px;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}
